* {
    margin: 0;
    padding: 0;

    font-family: monospace;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

h1 {
    margin: 20pt;
}

button {
    width: 55vh;

    margin: 5pt;
    padding: 10pt;
    border-radius: 5pt;
}

.game {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.scoreview,
.scoreview-selected,
.board-item,
button {
    border: 1pt solid;
}

.scoreboard {
    width: 60vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.scoreview,
.scoreview-selected {
    width: 100%;

    text-align: center;

    margin: 5pt;
    padding: 5pt;
    border-radius: 5pt;
    font-size: large;
}

.board {
    width: 60vh;
    height: 60vh;

    display: grid;
    grid-template-columns: auto auto auto;
}

.board-item {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5pt;
    border-radius: 5pt;
    font-size: xx-large;
}

@media screen and (orientation: portrait) {
    .scoreboard {
        width: 60vw;
    }

    .board {
        width: 60vw;
        height: 60vw;
    }
}