html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    color: #cccccc;
    font-family: monospace;

    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: min-content;
    height: min-content;
    background-color: #585858;
    border-radius: 10px;

    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    display: flex;
    flex-direction: row;
}

.item {
    width: 18vh;
    height: 18vh;

    background-color: #707070;
    border-radius: 10px;
    margin: 1vh 1vh 1vh 1vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: xx-large;
}

.item:hover {
    background-color: #656565;
    color: #c1c1c1;
}

.restart {
    display: none;
}

.restart:hover {
    color: #bbbbbb
}