.board {
    display: grid;
    grid-template-columns: auto auto auto;
}

.board-item {
    width: 18vh;
    height: 18vh;
    margin: 1vh;
    border-radius: 1vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #121212;
    border: 1pt solid #282828;

    font-size: xx-large;
}

@media screen and (min-width: 600px) {
    .board-item:hover {
        background-color: #272727;
    }
}

@media screen and (max-width: 600px) {
    .board-item {
        width: 18vw;
        height: 18vw;
        margin: 1vw;
        border-radius: 1vw;
    }

    .board-item:active {
        background-color: #272727;
    }
}