* {
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none; 
}

html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    font-family: monospace;
    background-color: #121212;
    color: #ededed;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 90%;
    padding: 10pt;
    border-radius: 5pt;
    margin: 5pt;

    background-color: #121212;
    color: #ededed;
    border: 1pt solid #282828;
}


@media screen and (min-width: 600px) {
    button:hover {
        background-color: #272727;
    }
}

button:active {
    background-color: #272727;
}